@model Web.Models.JobRequestModels

@{
    ViewBag.Title = "Accept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accept</h2>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" value="Accept"></button>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
    
</div>
